<section class="stats">
	<span class="closed">{{bugs | closedCount}}</span>
	<span>/</span>
	<span>{{bugs.length}}</span>
</section>
<section class="search">
	<label for="">Search :</label>
	<input type="text" name="" id=""></section>
<section class="sort">
	<label for="">Sort :</label>
	<input type="text" name="" id="">
</section>
<section class="bugs">
	<bug-editor (bugAdded) = "onBugAdded($event)"></bug-editor>
	<ol>
		<li *ngFor="let bug of bugs">
			<bug-item [data]="bug"></bug-item>
		</li>
		
	</ol>
	<input type="button" value="Remove Closed">
</section>
